@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
height: 100%;
width: 2000px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p,

.ul {
    margin-top: 0;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .border {
    
    border-bottom: 1px solid #ECECEC;
    background: #73C4F4;
    }
  .img{
    width: 2097px;
    margin-bottom: 60px;
  }
  .container{
    
    width: 2097px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 100px;
  }
  .top-navigation{

    align-items: center;
  }
  .top-conection{
    display: flex;
    width: 1098px;
    height: 50px;
    margin-left: 100px;
    
    
  }
  .top-conection>.item:not(:last-child) {
    margin-right: 55px;
    }
    .item{
    
    }
    .catalog{
      width: 178px;
      height: 36px;
      
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      align-items: flex-end;
      
      color: #FFFFFF;
      
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    } 
    .buy{
      width: 154px;
      height: 38px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      align-items: flex-end;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       color: #FFFFFF;
    }

    .Delivery-Payment{
      width: 377px;
      height: 39px;
      
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      align-items: flex-end;
      
      color: #FFFFFF;
      
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .Contacts{
      width: 204px;
      height: 38px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      align-items: flex-end;

      color: #FFFFFF;

     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .section-video{
      width: 334px;
      height: 60px;
      margin-left: 800px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 94px;
      display: flex;
      align-items: center;
      text-align: center;
      
      color: #000000;
      
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .video{
      width: 1200px;
      height: 749px;
      margin-left: 350px;
    }

    .Categories{
      margin-left:500px ;
      box-sizing: border-box;
      width: 922px;
      height: 250px;
      
      background: rgba(255, 255, 255, 0.01);
      border: 1px solid #000000;
    } 
    .section-Categories{
      margin-left: 750px ;
      width: 500px;
      height: 58px;
      
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 81px;
      display: flex;
      align-items: center;
      text-align: center;
      
      color: #000000;
      
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-us-list{
      display: flex;
    }
    .text{

      box-sizing: border-box;


width: 184.3px;
height:  51px;

font-family: 'Martel';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
text-align: center;

color: #000000;

border: 1px solid #000000;
    }
